/*------------------------------------------------------------
	書式設定
------------------------------------------------------------*/


/* テキストの位置 */

.taLeft {
    text-align: left !important;
}

.taCenter {
    text-align: center !important;
}

.taRight {
    text-align: right !important;
}

.vTop {
    vertical-align: top !important;
}

.vMiddle {
    vertical-align: middle !important;
}


/* フォントの太さ */

.fwNormal {
    font-weight: normal !important;
}

.fwBold {
    font-weight: bold !important;
}


/*------------------------------------------------------------
      微調整用クラス（※多用しないこと）
------------------------------------------------------------*/

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}


/*------------------------------------------------------------
      clearfix（float解除）
------------------------------------------------------------*/

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
}


/*------------------------------------------------------------
      トラッキングタグの余計なスペースを削除
------------------------------------------------------------*/

iframe[name="google_conversion_frame"] {
    position: absolute;
    left: 0;
}


/*------------------------------------------------------------
      レイアウト
------------------------------------------------------------*/

body {
    min-width: 1120px;
    line-height: 1.7;
    text-align: center;
}

body>img {
    display: none;
}

#container {
    background-image: url(~assets/img/common/bg01.png);
    color: #111;
    text-align: left;
}

#main {
    font-size: 160%;
}


/*------------------------------------------------------------
      ヘッダー
------------------------------------------------------------*/

#header {
    padding-bottom: 85px;
    position: relative;
    z-index: 10;
}

#header .txt {
    padding: 10px 30px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    z-index: 600;
    font-size: 120%;
    line-height: 1.5;
    font-weight: normal;
}

#header .inner {
    box-sizing: border-box;
    padding: 20px 30px 0;
    width: 100%;
    min-width: 970px;
    background-color: #fff;
    -ms-box-shadow: -1px 0 5px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.25);
    left: 0;
    z-index: 500;
}

#header .inner:after {
    display: block;
    clear: both;
    content: "";
}

#header .inner.top {
    position: absolute;
    top: 39px;
}

#header .inner.fixSet {
    position: fixed;
    top: -130px;
}

#header .inner.fixMove {
    top: 0;
    z-index: 500;
    transition: 500ms top ease;
}

#header .logo {
    padding-top: 4px;
    float: left;
}

.ie8 #header .inner {
    border-bottom: 1px solid #e6e6e6;
}

.ie8 #header .inner.fixSet {
    top: 0;
}


/*------------------------------------------------------------
      グローバルナビ
------------------------------------------------------------*/

#gNavi {
    float: right;
}

#gNavi ul {
    padding-bottom: 25px;
}

#gNavi ul:after {
    display: block;
    clear: both;
    content: "";
}

#gNavi li {
    width: 128px;
    border-right: 1px solid #e6e6e6;
    float: left;
}

#gNavi li:first-child {
    border-left: 1px solid #e6e6e6;
}

#gNavi a {
    width: 100%;
    height: 40px;
    display: table;
    position: relative;
    color: #111;
    font-size: 130%;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
}

#gNavi a:after {
    margin-top: 20px;
    width: 100%;
    height: 5px;
    background-color: #004795;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
}

#gNavi a:hover {
    color: #004795;
}

#gNavi a:hover:after {
    opacity: 1;
}

#gNavi .in {
    padding: 0 15px 0;
    display: table-cell;
    vertical-align: middle;
}

.ie8 #gNavi a:after {
    display: none;
    cursor: none;
}

.ie8 #gNavi a:hover:after {
    margin-top: 20px;
    width: 100%;
    height: 5px;
    background-color: #004795;
    display: block;
    opacity: 1;
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
}


/*------------------------------------------------------------
      パンクズリスト
------------------------------------------------------------*/

#pagePath {
    padding: 12px 30px 10px;
    background-color: #fff;
}

#pagePath li {
    margin-right: 5px;
    display: inline;
    font-size: 120%;
}

#pagePath li a {
    margin-right: 5px;
}


/*------------------------------------------------------------
      mainVisual
------------------------------------------------------------*/

#mainVisual {
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#mainVisual.bg {
    height: 320px;
    background-image: url(../img/common/main_bg.jpg);
}

#mainVisual .pageTtl {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#mainVisual>img {
    width: 100%;
    height: auto;
}


/*------------------------------------------------------------
      コンテンツ
------------------------------------------------------------*/

#conts {
    padding-bottom: 80px;
}

.contsSet {
    margin: 80px auto 0;
    width: 960px;
}


/*------------------------------------------------------------
      pageLink
------------------------------------------------------------*/

#pageLink {
    box-sizing: border-box;
    padding: 80px;
    width: 100%;
    border-top: 1px solid #e6e6e6;
    display: table;
}

#pageLink .item {
    box-sizing: border-box;
    width: 25%;
    display: table-cell;
    border-left: 1px solid #fff;
    vertical-align: top;
}

#pageLink .box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#pageLink .cover {
    height: 240px;
    display: block;
    position: relative;
}

#pageLink .cover:after {
    width: 40px;
    height: 40px;
    background: url(~assets/img/common/icon/box_arrow01.png) no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    content: "";
}

#pageLink .cover:hover {
    background-image: url(~assets/img/common/cover01.png);
}

#pageLink .cover>.txt {
    margin-top: -75px;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
}

#pageLink .about {
    background-image: url(~assets/img/common/about_img.jpg);
}

#pageLink .solution {
    background-image: url(~assets/img/common/solutions_img.jpg);
}

#pageLink .case {
    background-image: url(~assets/img/common/case_img.jpg);
}

#pageLink .ranking {
    background-image: url(~assets/img/common/ranking_img.jpg);
}


/*------------------------------------------------------------
      フッター
------------------------------------------------------------*/

#footer .top {
    padding: 40px 0;
    background-color: #c9edec;
}

#footer .contact {
    margin: 0 auto;
    width: 960px;
}

#footer .contact:after {
    display: block;
    clear: both;
    content: "";
}

#footer .contact .ttl {
    margin-bottom: 20px;
    padding: 10px 0 7px;
    background-color: #29b6b4;
    color: #fff;
    font-size: 180%;
    font-weight: normal;
    text-align: center;
}

#footer .tel {
    width: 640px;
    float: left;
}

#footer .tel dl {
    margin: 0 auto 15px;
    display: table;
}

#footer .tel dl dt,
#footer .tel dl dd {
    display: table-cell;
    vertical-align: middle;
}

#footer .tel dl dt {
    padding: 5px;
    border: 1px solid #111;
}

#footer .tel dl dt img {
    vertical-align: middle;
}

#footer .tel dl dd {
    padding-right: 20px;
    padding-left: 10px;
}

#footer .tel .data {
    margin-right: 20px;
    padding: 2px 0 1px;
    border: 1px solid #97b2b1;
    font-size: 120%;
    text-align: center;
}

#footer .mail {
    width: 320px;
    float: right;
}

#footer .mail .btn {
    padding: 23px 0 20px;
    width: 100%;
    background-color: #e5004e;
    display: block;
    color: #fff;
    font-size: 160%;
    text-align: center;
}

#footer .mail .btn:hover {
    background-color: #ec407a;
    text-decoration: none;
}

#footer .mail .icon {
    padding-right: 30px;
    position: relative;
}

#footer .mail .icon:after {
    margin-top: -7px;
    width: 15px;
    height: 15px;
    background: url(~assets/img/common/icon/arrow_r02.png) no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
}

#footer .bottom {
    background-color: #004795;
}

#footer .subNavi {
    padding-top: 25px;
    letter-spacing: -0.4em;
    text-align: center;
}

#footer .subNavi+.subNavi {
    padding-top: 10px;
    padding-bottom: 25px;
}

#footer .subNavi li {
    border-left: 2px solid #4075af;
    display: inline-block;
    line-height: 1;
    letter-spacing: normal;
}

#footer .subNavi li:first-child {
    border-left: none;
}

#footer .subNavi a {
    padding: 0 7px;
    color: #fff;
    font-size: 120%;
    line-height: 1;
}

#footer .copyright {
    padding: 15px 0;
    border-top: 1px solid #1a5aa0;
    color: #fff;
    font-size: 120%;
    line-height: 1;
    text-align: center;
}

#pageTop {
    display: none;
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 20px;
    right: 0;
}

#pageTop a {
    display: block;
}

#pageTop a:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.ie8 #pageTop {
    border: 1px solid #e6e6e6;
    border-right: none;
}


/*------------------------------------------------------------
      見出し
------------------------------------------------------------*/

.ttl01 {
    margin-bottom: 60px;
    font-size: 200%;
    font-weight: normal;
    text-align: center;
}

.ttl01:before,
.ttl01:after {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    content: "";
}

.ttl01:before {
    margin-bottom: 35px;
    height: 38px;
    background-image: url(~assets/img/common/ttl_deco.png);
}

.ttl01:after {
    margin-top: 35px;
    height: 6px;
    background-image: url(~assets/img/common/ttl_dots.png);
}

.ttl02 {
    margin-bottom: 30px;
    padding: 8px 0 5px;
    background-color: #0056a2;
    color: #fff;
    font-size: 112.5%;
    font-weight: bold;
    text-align: center;
}

.ttl03 {
    margin-bottom: 10px;
    font-size: 93.75%;
    color: #0055a1;
    font-weight: bold;
}

.ttl03:not(:first-child) {
    margin-top: 40px;
}

.ttl04 {
    margin-bottom: 35px;
    padding-bottom: 10px;
    padding-left: 25px;
    border-bottom: 1px solid #004795;
    position: relative;
    font-size: 150%;
    font-weight: normal;
}

.ttl04:before {
    margin-top: -17px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(~assets/img/common/icon/ttl_icon01.png);
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
}


/*------------------------------------------------------------
      ボタン
------------------------------------------------------------*/

.linkBtn {
    padding: 23px 0 21px;
    width: 240px;
    background-color: #29b6b4;
    display: block;
    line-height: 1;
    text-align: center;
}

.linkBtn:link {
    color: #fff;
}

.linkBtn:visited {
    color: #fff;
}

.linkBtn:hover {
    background-color: #67cbca;
    color: #fff;
    text-decoration: none;
}


/*------------------------------------------------------------
      テキスト
------------------------------------------------------------*/

.lead strong {
    color: #004795;
    font-size: 125%;
    font-weight: normal;
}

.em {
    color: #e5004e;
    font-style: normal;
}

.sentence {
    margin-bottom: 80px;
}

.sentence p {
    margin-top: 2.5em;
    text-align: center;
}

.sentence p:first-child {
    margin-top: 0;
}


/*------------------------------------------------------------
      テキスト
------------------------------------------------------------*/

.list01 li {
    padding-left: 12px;
    position: relative;
}

.list01 li:before {
    width: 6px;
    height: 6px;
    background: url(~assets/img/common/icon/icon_discb.png) no-repeat;
    position: absolute;
    top: 6px;
    left: 0;
    content: "";
}


/*------------------------------------------------------------
      トピックス
------------------------------------------------------------*/

.topics {
    margin: 0 auto;
    width: 880px;
    display: table;
}

.topics .topicsConts {
    box-sizing: border-box;
    width: 50%;
    border-left: 1px solid #fff;
    display: table-cell;
    vertical-align: top;
}

.topics .topicsConts a {
    display: block;
}

.topics .txt {
    width: 100%;
    height: 319px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.topics .cell {
    padding: 40px 0;
    display: block;
    position: relative;
    text-align: center;
}

.topics .cover:after {
    width: 40px;
    height: 40px;
    background: url(~assets/img/common/icon/box_arrow01.png) no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
}

.topics .cover:hover {
    background-image: url(~assets/img/common/cover01.png);
}

.topics .end {
    position: relative;
}

.topics .end .endTxt {
    box-sizing: border-box;
    padding: 120px 0;
    width: 100%;
    height: 320px;
    background-image: url(~assets/img/common/cover02.png);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.hrexpo .txt {
    background-image: url(~assets/img/common/hrexpo_img.jpg);
}

.humanCaptital .txt {
    background-image: url(~assets/img/common/human-captital_img.jpg);
}


/*------------------------------------------------------------
      テーブル
------------------------------------------------------------*/

.basicTable .trBox {
    width: 100%;
    display: table;
}

.basicTable .thCell,
.basicTable .tdCell {
    box-sizing: border-box;
    padding: 25px 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: table-cell;
    line-height: 1.9;
    text-align: left;
    vertical-align: top;
}

.basicTable .thCell {
    width: 180px;
    border-bottom-color: #004795;
    color: #004795;
}

.basicTable .tdCell {
    border-bottom-color: #d6d6d6;
}

.basicTable .tdCell p {
    margin-top: 25px;
}

.basicTable .tdCell p:first-child {
    margin-top: 0;
}

.basicTable .tdCell span {
    font-weight: bold;
}

.basicTable .trBox:first-child .thCell,
.basicTable .trBox:first-child .tdCell {
    border-top-width: 1px;
    border-top-style: solid;
}

.basicTable .trBox:first-child .thCell {
    border-top-color: #004795;
}

.basicTable .trBox:first-child .tdCell {
    border-top-color: #d6d6d6;
}

.basicTable .list01 li:before {
    top: 11px;
}

.basicTable .tdCell>dl dt {
    margin-top: 20px;
    font-weight: bold;
}

.basicTable .tdCell>dl dt:first-child {
    margin-top: 0;
}