<template>
	<header id="header">
		<p class="txt">採用における課題を「情報発信」で解決する - ii-deais（イーディアス） -</p>
		<div class="inner top">
			<div class="logo"><a href="/"><img src="~/assets/img/common/logo.png" width="236" height="30" alt="株式会社イーディアス"></a></div>
			<div id="gNavi">
				<ul>
                    <li><a href="/post/"><span class="in">POST</span></a></li>
                    <li><a href="/about/"><span class="in">イーディアスに<br>ついて</span></a></li>
                    <li><a href="/solution/"><span class="in">ソリューション<br>のご紹介</span></a></li>
                    <li><a href="/faq/"><span class="in">FAQ</span></a></li>
                    <li><a href="/ranking/"><span class="in">採用サイト<br>ランキング</span></a></li>
                    <li><a href="/contact_top/"><span class="in">資料請求・<br>お問い合わせ</span></a></li>
                </ul>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        mounted: function() {
            var win = $(window),
            header = $('#header'),
            header_h = header.outerHeight(true),
            header_inner = header.find('.inner');

            var headerFix = function() {
                var h_y = header_h / 2;

                win.scroll(function() {
                    var _self = $(this),
                    scrl_top = _self.scrollTop();

                    if (scrl_top > h_y) {
                        header_inner.removeClass('top').addClass('fixSet');
                        setTimeout(function() {
                            header_inner.addClass('fixMove');
                        })
                    } else {
                        header_inner.removeClass('fixSet').removeClass('fixMove').addClass('top');
                    };
                });
            }
            headerFix();
        }
    };
</script>