<template>
    <ol id="pagePath">
        <template v-for="crumb in breadcrumbs">
            <li v-if="crumb.path">
                <nuxt-link :to="crumb.path">{{ crumb.name }}</nuxt-link>
            </li>
            <li v-else>{{ crumb.name }}</li>
        </template>
    </ol>
</template>

<script>
export default {
    props: {
        breadcrumbs: {
            type: Array
        }
    }
};
</script>