<template>
    <div id="mainVisual" class="bg">
        <h1 class="pageTtl">
            <img :src="require('~/assets/img' + thumbnail)" :width="width" :height="height" :alt="alt">
        </h1>
    </div>
</template>

<script>
export default {
    props: {
        thumbnail: {
            type: String,
            required: true
        },
        width: {
            type: String
        },
        height: {
            type: String
        },
        alt: {
            type: String,
            required: true
        }
    }
};
</script>