<template>
    <div class="c-list6">
        <ul>
            <li v-for="post in posts" :key="post.id">
                <span>{{ moment(post.date_gmt).format('YYYY/MM/DD') }}</span>
                <p>
                    <nuxt-link :to="`/post/${post.id}/`">{{ post.title.rendered }}</nuxt-link>
                </p>
            </li>
        </ul>
    </div>
</template>

<script>
var moment = require('moment');

export default {
    props: ['posts'],
    data() {
        return {
            moment: moment
        }
    }
}
</script>

<style lang="scss">
.c-list6 {
    li {
        border-bottom: 1px solid #CCC;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 20px 0;

        &:first-child {
            padding-top: 0;
        }
    }

    span {
        display: inline-block;
        width: 7em;
    }

    p {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}
</style>