<template>
    <div class="page-faq">
        
        <Breadcrumb :breadcrumbs="breadcrumbs" />

        <main id="main">

            <main-visual thumbnail="/faq/page_ttl.png" width="378" height="72" alt="サービスに関するFAQ FAQ" />

            <div id="conts" class="contsSet">

                <faq-Single 
                question="コンサルティングサービスの費用には、採用ツールの制作費も含まれているのでしょうか？" 
                answer="はい、含まれております。
大まかなスケジュールと施策内容を協議した上でご契約となりますが、その際、各種採用ツールの制作費も含めてご提案いたします。" 
                />

                <faq-Single 
                question="各サービス、例えば採用サイトの制作だけを申し込むことはできますか？" 
                answer="はい、可能です。
採用プロモーションツールの制作のみ、コンサルティングのみ、採用アウトソースのみといった個別のお申し込みができます。" 
                />

                <faq-Single 
                question="月額ってどういうことですか？" 
                answer="ご契約前に達成目標とスケジュールをご提案いたします。達成に必要な体制・布陣によって当社の月間の最大作業時間が決まりますので、その範囲でコンサルティング・実制作を行います。ご予算やスピードなどで増減が可能です。" 
                />

            </div><!-- /#conts -->
        </main><!-- /#main -->

        <Aside />
    </div>
</template>

<script>
    import Breadcrumb from "~/components/Breadcrumb.vue";
    import MainVisual from "~/components/MainVisual.vue";
    import FaqSingle from "~/components/FaqSingle.vue";
    import Aside from "~/components/Aside.vue";

    export default {
        components: {
            Breadcrumb,
            MainVisual,
            FaqSingle,
            Aside
        },
        data() {
            return {
                title: 'サービスに関するFAQ - ii-deais（イーディアス）',
                breadcrumbs: [{
                    name: '株式会社イーディアスホーム ＞',
                    path: '/'
                }, {
                    name: 'サービスに関するFAQ'
                }]
            }
        },
        head() {
            return {
                title: this.title,
                meta: [{
                    hid: 'description',
                    name: 'description',
                    content: '株式会社 ii-deais（イーディアス）のサービスに関するFAQを掲載しております。'
                }]
            }
        },
        mounted: function() {
            $('.faq .ttl').click(function() {
                $(this).toggleClass('is-open');
                $(this)
                    .next('.txt')
                    .stop()
                    .slideToggle();
            });
            $('.faq .is-open')
                .next('.txt')
                .show();
        }
    };
</script>