<template>
    <div class="page-post">
        <main id="main">
            <div id="conts" class="contsSet">
                <PostList :posts="posts" />
                <!--【１】propsでpostsデータを渡す -->
            </div>
        </main>
    </div>
</template>

<script>
import wp from "~/lib/wp";
import PostList from "~/components/PostList.vue" //【２】PostListコンポーネントを読み込む

export default {
    asyncData({
        params
    }) {
        return wp.posts()
    },
    components: {
        PostList //【３】PostListを子コンポーネントとする
    }
}
</script>